# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.make
*.user
*.rc
*.filters
*.vcxproj
*.sln
*.pdb
*.tlog
*.recipe
*.ipch
*.db-wal
*.log
*.exp
*.db-shm
*.res
*.db
*.opendb
domestikaFinalExtended/.vs/domestikaFinalExtended/v17/.suo
*.bin
*.json
*.zip
*.ilk
U3_Exercice_SolLewitt/bin/data/.gitkeep
U4_L4_Exercice_OpArt/.vs/U4_L4_Exercice_OpArt/v15/.suo
U4_L4_Exercice_OpArt/bin/data/.gitkeep
U5_L1_computerVisionAndParticles/.vs/U5_L1_computerVisionAndParticles/v15/.suo
U5_L1_computerVisionAndParticles/.vs/domestikaFinalExtended/v15/.suo
U4_L4_particleSystem/.vs/U4_L4_particleSystem/v15/.suo
U4_L4_Exercice_Particles/.vs/U4_L4_Exercice_Particles/v15/.suo
U4_L4_Exercice_Particles/bin/data/.gitkeep
U4_L4_Exercice_OpArt/bin/data/fingers.mov
U4_L4_Exercice_Particles/bin/data/fingers.mov
domestikaFinalExtended/.vs/domestikaFinalExtended/v15/.suo
FinalProject/.vs/domestikaFinalExtended/v15/.suo
FinalProject/.vs/FinalProject/v15/.suo
U2_Exercice_DrawMyName/.vs/shape/v15/.suo
U2_Exercice_DrawMyName/.vs/U2_Exercice_DrawMyName/v15/.suo
U2_Exercice_DrawMyName/bin/data/.gitkeep
U2_L3_rgbDemo/.vs/U2_L3_rgbDemo/v15/.suo
U2_L3_rgbDemo/.vs/rgbDemo/v15/.suo
U2_L3_rgbDemo/bin/data/.gitkeep
U2_L3_shape/.vs/U2_L3_shape/v15/.suo
U2_L3_shape/.vs/shape/v15/.suo
U2_L3_shape/bin/data/.gitkeep
U3_Exercice_If/.vs/functionDemo/v15/.suo
U3_Exercice_If/.vs/U3_Exercice_If/v15/.suo
U3_Exercice_If/bin/data/.gitkeep
U3_Exercice_SolLewitt/.vs/functionDemo/v15/.suo
U3_Exercice_SolLewitt/.vs/U3_Exercice_SolLewitt/v15/.suo
U3_L2_Function_drawCross/.vs/U3_L2_Function_drawCross/v15/.suo
U3_L2_Function_drawCross/.vs/variableDemo/v15/.suo
U3_L2_Function_noise_advanced/.vs/noiseDemo/v15/.suo
U3_L2_Function_noise_advanced/.vs/U3_L2_Function_noise_advanced/v15/.suo
U3_L2_Function_ofMap_ofRandom_cos/.vs/U3_L2_Function_ofMap_ofRandom_cos/v15/.suo
U3_L2_Function_ofMap_ofRandom_cos/.vs/mapDemo/v15/.suo
U3_L2_Function_ofMap_ofRandom_cos/bin/data/.gitkeep
U3_L3_If/.vs/toggleDemo/v15/.suo
U4_L1_bouncingBall/.vs/U4_L1_bouncingBall/v15/.suo
U4_L1_bouncingBall/.vs/bouncingBall/v15/.suo
U4_L1_bouncingBall/bin/data/.gitkeep
U4_L1_Increment/.vs/simpleIncrement/v15/.suo
U3_L3_If/.vs/U3_L3_If/v15/.suo
U4_L1_Increment/.vs/U4_L1_Increment/v15/.suo
U4_L1_Increment/bin/data/.gitkeep
U4_L2_ForLoop/.vs/loopDemo/v15/.suo
U4_L2_ForLoop/.vs/U4_L2_ForLoop/v15/.suo
U4_L2_ForLoop/bin/data/.gitkeep
U4_L3_ballClass/.vs/ballClass/v15/.suo
U4_L3_ballClass/.vs/U4_L3_ballClass/v15/.suo
U4_L3_ballClass/bin/data/.gitkeep
U4_L4_particleSystem/bin/data/fingers.mov
U4_L4_particleSystem/bin/data/.gitkeep
U3_L3_If/bin/data/.gitkeep
U3_L2_Function_drawCross/bin/data/.gitkeep
U5_L1_computerVisionAndParticlesVideo/.vs/domestikaFinalExtended/v15/.suo
U5_L1_computerVisionAndParticlesVideo/.vs/U5_L1_computerVisionAndParticles/v15/.suo
U5_L1_computerVisionAndParticlesVideo/.vs/U5_L1_computerVisionAndParticlesVideo/FileContentIndex/a7995f1c-63bc-41ee-9604-3028f3cc34f9.vsidx
U5_L1_computerVisionAndParticlesVideo/.vs/U5_L1_computerVisionAndParticlesVideo/FileContentIndex/read.lock
U5_L1_computerVisionAndParticlesVideo/.vs/U5_L1_computerVisionAndParticlesVideo/v17/.suo
U5_L2_computerVisionAndParticles/.vs/domestikaFinalExtended/v15/.suo
U5_L2_computerVisionAndParticles/.vs/U5_L1_computerVisionAndParticles/v15/.suo
U5_L2_computerVisionAndParticles/.vs/U5_L2_computerVisionAndParticles/FileContentIndex/fe0e839f-342a-4981-b599-2c114c9b59a3.vsidx
U5_L2_computerVisionAndParticles/.vs/U5_L2_computerVisionAndParticles/FileContentIndex/read.lock
U5_L2_computerVisionAndParticles/.vs/U5_L2_computerVisionAndParticles/v17/.suo
*.vsidx
Extra_FBOTrail/.vs/Extra_FBOTrail/FileContentIndex/read.lock
Extra_FBOTrail/.vs/domestikaFinalExtended/v15/.suo
Extra_FBOTrail/.vs/Extra_FBOTrail/v17/.suo
Extra_FBOTrail/.vs/FinalProject/v15/.suo
Extra_FBOTrail/.vs/FinalProject/v17/.suo
Extra_vectorTrail/.vs/domestikaFinalExtended/v15/.suo
Extra_vectorTrail/.vs/Extra_vectorTrail/FileContentIndex/read.lock
Extra_vectorTrail/.vs/Extra_vectorTrail/v17/.suo
Extra_vectorTrail/.vs/FinalProject/v15/.suo
Extra_vectorTrail/.vs/FinalProject/v17/.suo
FinalProject/.vs/FinalProject/v17/.suo
